# See https://www.jetbrains.com/help/idea/managing-projects-under-version-control.html
**/.idea/workspace.xml
**/.idea/tasks.xml

.vs/
.nyc_output/
node_modules/
coverage/
src/*.js
src/*.map
src/**/*.js
src/**/*.map
test/*.js
test/*.map
.DS_Store
.env
test/Sandbox.ts
src/services/Database/*.txt
data/*
obj/Debug/InsightFacadeVS2019.njsprojAssemblyReference.cache
obj/Debug/InsightFacadeVS2019.njsproj.FileListAbsolute.txt
InsightFacadeVS2019.sln
InsightFacadeVS2019.njsproj.user
InsightFacadeVS2019.njsproj
bin/Microsoft.NodejsTools.WebRole.dll
